%h1 Espoir GCP
%h2 希望の船にようこそ
%p
  Espoir GCPは、船上での一風変わったジャンケンを楽しめるオンラインゲームです。

- if user_signed_in?
  Logged in as
  %strong
    = current_user.email
  = link_to "Settings", edit_user_registration_path, :class => "navbar-link"
  |
  = link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link"
- else
  = link_to "Sign up", new_user_registration_path, :class => "navbar-link"
  |
  = link_to "Login", new_user_session_path, :class => "navbar-link"

%h2 開催中のゲーム
%table
  %thead
    %tr
      %th 開始時刻
      %th 開催期間（分）
      %th 状態

  %tbody
    - @games.each do |game|
      %tr
        %td= game.startTime
        %td= game.term
        %td= game.status
