%h1 ホーム ― 船着き場
- if user_signed_in?
  Logged in as
  %strong
    = current_user.email
  = link_to "Settings", edit_user_registration_path, :class => "navbar-link"
  |
  = link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link"
- else
  = link_to "Sign up", new_user_registration_path, :class => "navbar-link"
  |
  = link_to "Login", new_user_session_path, :class => "navbar-link"

%p
  ようこそいらっしゃいました。
  %br/
  ご希望の船に御乗り下さい。

%h2 参加者募集中の船
%table
  %thead
    %tr
      %th 開始時刻
      %th 開催期間（分）
      %th 状態
      %th &nbsp;

  %tbody
    - @games.each do |game|
      %tr
        %td= game.startTime
        %td= game.term
        %td= game.status
        %td 乗船手続き
